<hr>
<img src="http://cultofthepartyparrot.com/parrots/hd/congaparrot.gif" style="height: 30px; width: auto; display: block; margin: 0 auto">
<div class="footer">
<span><img src ="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" class="circle"></span> <span><img src ="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" class="circle"></span> <span><img src ="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" class="circle"></span></div>
<p class="text-center">Proudly designed by the best developer in the world (or not)</p>
